<!DOCTYPE html>
<html>
  <head>
    <title>Hack3r blog::h̷͖̏ä̷̢́v̸̫͛e̶͒͜ ̸͙͘ā̵͍ ̶̱̽n̵͓̑i̵͕͊c̷̭̆ḛ̷͝ ̵̢̎d̵̮̿à̸̰y̸͇̾</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <style>
      body {
        padding: 1em;
      }
      .comment-item {
        border: 1px solid #ccc;
        padding: 1em;
        background-color: #eee;
        margin-bottom: 1em;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
